:root {
  --z-calendar-color-weekday: var(--color-grey-60);
  --z-calendar-color-day-disabled: var(--color-grey-40);
  --z-calendar-color-text: var(--z-color-text);
  --z-calendar-color-text-invers: var(--z-color-text-inverse);

  --z-calendar-color-day-text: var(--z-calendar-color-text);
  --z-calendar-color-day-bg: var(--z-color-surface);
  --z-calendar-color-day-today: var(--color-grey-40);

  &[data-theme='dark'] {
    --z-calendar-color-weekday: var(--color-grey-30);
    --z-calendar-color-day-disabled: var(--color-grey-60);
    --z-calendar-color-text-invers: var(--z-color-text);
  }
}

.z-calendar {
  --calendar-icon-button-size: 28px;
  --calendar-svg-stroke-w: 1.5;
  --calendar-day-margin: 3px;

  display: flex;
  flex-direction: column;
  overflow: hidden;
  font-family: var(--font-family-sans);
  font-size: var(--font-size-md);
  color: var(--z-color-text);
  padding: var(--space-y-2);

  &-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: var(--space-y-2);

    .year-picker {
      display: flex;
      align-items: center;
      flex-direction: row;
      gap: var(--space-x-1);

      .z-input-container {
        border: none;
        padding: 0;
      }

      button {
        font-size: var(--font-size-md);
        cursor: pointer;
      }
    }

    .month-picker {
      display: flex;
      flex-direction: row;
      gap: var(--space-y-1);
      justify-content: space-between;

      .z-icon-button {
        width: var(--calendar-icon-button-size);
        height: var(--calendar-icon-button-size);

        svg {
          stroke-width: var(--calendar-svg-stroke-w);
        }
      }

      span {
        padding: 0 6px;
      }
    }
  }



  &-page {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    overflow: visible;
    row-gap: 1px;

    > .day-wrapper {
      aspect-ratio: 1;
    }

    .weekday,
    .day {
      text-align: center;
    }

    .weekday {
      color: var(--z-calendar-color-weekday);
    }

    .day {
      color: var(--z-calendar-color-day-text);
      border-radius: 50%;
      border-width: 0;
      border-style: none;
      position: relative;
      z-index: 1;
      width: 100%;
      height: 100%;

      background-color: inherit;
      cursor: pointer;
      transition: var(--z-theme-focus-transition);
      text-align: center;
      vertical-align: center;

      &-today:not(.is-selected) {
        border: 2px solid var(--z-calendar-color-day-today);
        border-radius: 50%;
      }

      &:hover:not(:disabled) {
        color: var(--color-white);
        background-color: var(--z-color-accent-hover);
      }

      &:active:not(:disabled) {
        color: var(--color-white);
        background-color: var(--z-color-accent-active);
      }

      &:focus-visible {
        outline: 0;
        box-shadow: var(--z-theme-focus-shadow-sticky);
        transition: var(--z-theme-focus-transition);
      }

      &:disabled {
        cursor: default;
        color: var(--z-calendar-color-day-disabled);
      }

      &.is-selected {
        color: var(--color-white);
        background-color: var(--z-color-accent);
      }
    }

    .day-wrapper {
      display: flex;
      text-align: center;
      justify-content: center;
      width: 36px;
      height: 36px;

      &.is-in-range {
        background-color: var(--z-color-accent-selected-bg);
        --z-calendar-color-day-text: var(--z-calendar-color-text-invers);
        --z-calendar-color-day-today: var(--z-calendar-color-text-invers);
      }

      &:nth-child(7n - 6) {
        &.is-in-range {
          border-top-left-radius: 50%;
          border-bottom-left-radius: 50%;
        }
      }

      &:nth-child(7n) {
        &.is-in-range {
          border-top-right-radius: 50%;
          border-bottom-right-radius: 50%;
        }
      }

      &.is-range-start {
        background-color: var(--z-color-accent-selected-bg);
        --z-calendar-color-day-text: var(--z-calendar-color-text-invers);
        --z-calendar-color-day-today: var(--z-calendar-color-text-invers);

        border-top-left-radius: 50%;
        border-bottom-left-radius: 50%;
      }

      &.is-range-end {
        background-color: var(--z-color-accent-selected-bg);
        --z-calendar-color-day-text: var(--z-calendar-color-text-invers);
        --z-calendar-color-day-today: var(--z-calendar-color-text-invers);

        border-top-right-radius: 50%;
        border-bottom-right-radius: 50%;
      }
    }
  }
}