.z-navigation {
  display: flex;
  flex-direction: column;
  width: 100%;

  &-item {
    padding: 4px 8px;

    &:focus-visible {
      box-shadow: var(--z-theme-focus-shadow-inset);
      outline: 0;
    }

    &:hover {
      background-color: var(--z-color-neutral-selected-bg);
      color: inherit;
    }

    &:active {
      background-color: var(--z-color-neutral);
    }

    &.is-selected {
      background-color: var(--z-color-neutral-selected-bg);
    }
  }

  &-section {
    &-open {
      border-bottom: 1px solid var(--z-color-border);
    }

    .z-navigation-item {
      padding-left: 24px;
    }

    &-header {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      padding: 4px 8px 4px 12px;
      font-weight: var(--font-weight-semibold);

      &:focus-visible {
        box-shadow: var(--z-theme-focus-shadow-inset);
        outline: 0;
      }

      &:hover {
        background-color: var(--z-color-neutral-selected-bg);
      }

      &:active {
        background-color: var(--z-color-neutral);
      }
    }

    &-body {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      background-color: var(--z-color-surface-alt);
    }
  }
}