:root {
  --z-sidebar-backgroud: var(--z-color-surface);
  --z-sidebar-shadow: var(--shadow-2);
}

.z-sidebar {
  height: 100%;
  width: 260px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 12px 0;

  background: var(--z-sidebar-backgroud);
  box-shadow: var(--z-sidebar-shadow);

  will-change: transform;

  &-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding-left: 12px;
    white-space: nowrap;
  }

  &-body {
    display: flex;
    flex-direction: column;
    max-width: 260px;
    flex: 1;
    flex-wrap: nowrap;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;

    --mask-top: black 0%;
    --mask-bottom: black 100%;

    mask-image: linear-gradient(
            to bottom,
            transparent 0%,
            var(--mask-top),
            var(--mask-bottom),
            transparent 100%
    );
    -webkit-mask-image: mask-image;

    transition: mask-image 0.15s ease;

    &::-webkit-scrollbar {
      display: none;
    }

    &[data-scroll-top="true"] {
      --mask-top: black 8%;
    }

    &[data-scroll-bottom="true"] {
      --mask-bottom: black 92%;
    }
  }

  &-trigger {
    position: absolute;
    top: 8px;
    right: 4px;
    background-color: var(--z-sidebar-backgroud);

    &:hover {
      background-color: var(--z-navigation-background-hover);
    }
  }

  &.collapsed {
    width: 44px;

    .z-sidebar-header-title {
      opacity: 0;
    }

    .z-sidebar-body {
      opacity: 0;
    }
  }
}