:root {
  --z-tabs-shadow-color: rgba(0, 0, 0, 0.08);
  --z-tabs-border: 2px solid var(--z-tabs-shadow-color);
  --z-tabs-active-border: 3px solid var(--z-color-accent);
}

.z-tabs {
  width: 100%;

  &-horizontal {
    display: flex;
    flex-direction: column;

    .z-tabs-triggers-section {
      width: 100%;
      height: 100%;
      display: grid;
      grid-auto-columns: minmax(0, 1fr);
      grid-auto-flow: column;
    }

    .z-tab-trigger {
      display: flex;
      flex-direction: row;
      text-align: center;
      align-items: center;
      justify-content: center;
      height: 40px;
      border: var(--z-tabs-border);

      &-content-wrapper {
        display: flex;
        flex-direction: row;
        text-align: center;
        align-items: center;
        justify-content: center;
        padding: 0 2px;
        gap: var(--space-x-1);
        height: fit-content;
        width: fit-content;
        overflow: hidden;
        position: relative;
      }

      &:not(:first-of-type) {
        border-left: none;
      }

      &:not(.active) {
        cursor: pointer;
      }

      &.active {
        background-color: var(--z-color-surface);
        border-bottom: none;
        border-top: var(--z-tabs-active-border);
      }

      &:focus-visible {
        .z-tab-trigger-content-wrapper {
          box-shadow: inset 0 -2px var(--z-color-focus);
        }
      }

      &:hover:not(.active) {
        background-color: var(--z-color-neutral-hover);
      }
    }

    .z-tabs-body-section {
      border: var(--z-tabs-border);
      border-top: none;
      border-bottom-left-radius: inherit;
      border-bottom-right-radius: inherit;
    }
  }

  &-vertical {
    display: flex;
    flex-direction: row;

    .z-tabs-triggers-section {
      display: flex;
      flex-direction: column;
      border-bottom-left-radius: inherit;
    }

    .z-tab-trigger {
      display: flex;
      flex-direction: column;
      min-height: 80px;
      min-width: 80px;
      padding: var(--space-y-2);
      align-items: center;
      justify-content: center;

      border: var(--z-tabs-border);

      &-content-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: var(--space-y-1);
        height: fit-content;
        width: fit-content;
        overflow: hidden;
        position: relative;
      }

      &:not(:first-of-type) {
        border-top: none;
      }

      &:not(.active) {
        cursor: pointer;
      }

      &:focus-visible {
        .z-tab-trigger-content-wrapper {
          box-shadow: inset 0 -2px var(--z-color-focus);
        }
      }

      &.active {
        background-color: var(--z-color-surface);
        border-right: none;
        border-left: var(--z-tabs-active-border);
      }

      &:hover:not(.active) {
        background-color: var(--z-color-neutral-hover);
      }
    }

    .z-tabs-body-section {
      width: 100%;
      border-bottom-right-radius: inherit;
      border: var(--z-tabs-border);
      border-left: none;
    }

  }

  &.remove-border {
    .z-tabs-body-section {
      border: none;
    }

    &.z-tabs-horizontal {
      .z-tab-trigger:first-of-type {
        border-left: none;
      }

      .z-tab-trigger:last-of-type {
        border-right: none;
      }
    }

    &.z-tabs-vertical {
      .z-tab-trigger:first-of-type {
        border-top: none;
      }

      .z-tab-trigger:last-of-type {
        border-bottom: none;
      }
    }
  }
}