*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--z-color-bg);
  color: var(--z-color-text);
  font-family: var(--font-family-sans);
  overflow-y: hidden;

  accent-color: var(--z-color-accent);
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  position: relative;
  flex: 1;
  overflow-y: auto;
}

a,
button,
input,
select,
textarea {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}

a {
  text-decoration: none;
}