.z-calendar {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  font-family: var(--font-family-sans);
  font-size: var(--font-size-md);
  color: var(--z-color-text);
  padding: var(--space-y-3);

  &-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: var(--space-y-2);

    .year-picker {
      align-content: center;

      select {
        padding: 0 6px;
      }
    }
    .month-picker {
      display: flex;
      flex-direction: row;
      align-items: center;

      .z-icon-button {
        width: 28px;
        height: 28px;
      }

      span {
        padding: 0 6px;
      }
    }
  }



  &-page {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    overflow: visible;

    > button {
      aspect-ratio: 1;
    }

    .weekday,
    .day {
      text-align: center;
    }

    .weekday {
      color: hsl(from var(--z-color-text) h s 35%);
    }

    .day {
      color: var(--z-color-text);
      border-radius: 50%;
      border-width: 0;
      border-style: none;
      margin: 3px;
      position: relative;
      z-index: 1;

      background-color: var(--z-color-surface);
      cursor: pointer;
      transition: var(--z-theme-focus-transition);
      text-align: center;

      &-inner {

      }

      &:hover:not(:disabled) {
        color: var(--color-white);
        background-color: var(--z-color-accent-hover);
      }

      &:active:not(:disabled) {
        color: var(--color-white);
        background-color: var(--z-color-accent-active);
      }

      &:focus-visible {
        outline: 0;
        box-shadow: var(--z-theme-focus-shadow-sticky);
        transition: var(--z-theme-focus-transition);
      }

      &:disabled {
        cursor: default;
        color: hsl(from var(--z-color-disabled-text) h s 70%);
      }

      &.is-selected {
        color: var(--color-white);
        background-color: var(--z-color-accent);
      }
    }

    .day::before {
      content: '';
      position: absolute;
      inset: 0;
      z-index: -1;
      background-color: transparent;
    }

    .day.is-in-range::before {
      background-color: hsl(from var(--z-color-accent) h s 70%);
    }
  }
}