.z-checkbox {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem; /* TODO verify and adjust */
  cursor: pointer;
  user-select: none;
  font-size: 1rem;
}

.z-checkbox input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  overflow: hidden;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  margin: 0;
}

.z-checkbox-box {
  position: relative;
  width: 24px;
  height: 24px;
  border-radius: 6px;
  border: var(--z-theme-border-medium-accent);
  background-color: var(--z-color-surface);
  transition:
          background-color 150ms cubic-bezier(.86, .0, .07, 1),
          border 150ms cubic-bezier(.86, .0, .07, 1),
          color 150ms cubic-bezier(.86, .0, .07, 1),
          var(--z-theme-focus-transition);
  flex-shrink: 0;
  display: inline-block;
}

.z-checkbox:hover:not(.disabled) .z-checkbox-box {
  border-color: var(--z-color-accent-hover);
}

.z-checkbox input:focus-visible + .z-checkbox-box {
  outline: 0;
  box-shadow: var(--z-theme-focus-shadow);
}

.z-checkbox-box::after {
  border-bottom: 0.2rem solid #fff;
  border-left: 0.2rem solid #fff;
  content: '';
  display: inline-block;
  position: absolute;
  height: 0.4rem;
  left: 50%;
  width: 0.75rem;
  top: 50%;
  margin-left: 0;
  margin-top: -1px;
  opacity: 0;
  transform-origin: center center;
  transform: translate(-50%, -50%) rotate(-45deg) scale(0);
  transition: transform 150ms cubic-bezier(.86, .0, .07, 1);
}

.z-checkbox input[type="checkbox"]:checked + .z-checkbox-box {
  background-color: var(--z-color-accent);
  border-color: var(--z-color-accent);
}

.z-checkbox input[type="checkbox"]:checked + .z-checkbox-box:after {
  opacity: 1;
  transform: translate(-50%, -50%) rotate(-45deg) scale(1);
}

.z-checkbox input[type="checkbox"]:disabled + .z-checkbox-box {
  cursor: not-allowed;
  border-color: var(--z-color-disabled-bg);
  background-color: var(--z-color-disabled-bg);
}

.z-checkbox input[type="checkbox"]:disabled + .z-checkbox-box:after {
  border-color: #aaa;
}

.z-checkbox input[type="checkbox"]:disabled:checked + .z-checkbox-box:after {
  background-color: var(--z-color-disabled-bg);
  border-color: var(--z-color-disabled-bg);
}

.z-checkbox input[type="checkbox"]:disabled:checked + .z-checkbox-box:after {
  border-color: var(--z-color-disabled-border);
  opacity: 1;
  transform: translate(-50%, -50%) rotate(-45deg) scale(1);
}

.z-checkbox input[type="checkbox"]:disabled ~ .z-checkbox-label {
  color: var(--z-color-disabled-text);
  cursor: not-allowed;
}

.z-checkbox span.z-checkbox-label {
  line-height: 1;
}
