
.z-row {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;

  width: 100%;
  max-width: 100%;

  &-sm {
    gap: var(--space-y-1);
  }

  &-md {
    gap: var(--space-y-2);
  }

  &-lg {
    gap: var(--space-y-3);
  }
}

.z-col {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;

  @for $i from 1 through 12 {
    &-#{$i} {
      width: (calc(100 / 12) * $i) * 1%;
    }
  }

  &-sm {
    gap: var(--space-x-1);
  }

  &-md {
    gap: var(--space-x-2);
  }

  &-lg {
    gap: var(--space-x-3);
  }
}
