.z-icon {
  color: var(--color-black-softer, #111);

  &-sm {
    width: 12px;
    height: 12px;
  }

  &-md {
    width: 24px;
    height: 24px;
  }

  &-lg {
    width: 48px;
    height: 48px;
  }
}