.z-input-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--space-y-1);
  text-align: start;
  justify-items: start;
  height: 100%;
  flex: 1;
  min-width: 0;
  width: 100%;

  font-family: var(--font-family-sans);
  font-size: var(--font-size-md);
  line-height: var(--line-height-normal);

  .z-icon-button {
    height: 1.6em;
    width: 1.6em;
  }

  .z-icon {
    height: 1.1em;
    width: 1.1em;
  }

  .z-input-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 6px;
    align-items: center;

    border: 2px solid var(--color-grey-60);
    border-radius: var(--radius-md);
    transition: var(--z-theme-focus-transition);
    outline: none;
    padding: 3px 6px;

    &:has(.z-input:disabled) {
      border-color: var(--z-color-disabled-bg);
      background-color: var(--z-color-disabled-bg);
      cursor: not-allowed;
    }

    &:has(.z-input:focus-visible) {
      border-color: var(--z-color-focus);
      outline: 0;
      box-shadow: var(--z-theme-focus-shadow-sticky);
    }
  }

  .z-input-label {
    font-size: var(--font-size-xs);
    font-weight: 500;
  }

  &:has(.z-input:disabled) {
    .z-input-label {
      color: var(--z-color-disabled-text);
    }
  }

  .z-input {
    font-family: var(--font-family-sans);
    font-size: var(--font-size-sm);
    line-height: var(--line-height-relaxed);
    border: none;
    flex: 1;
    min-width: 0;

    &:disabled {
      border-color: var(--z-color-disabled-bg);
      background-color: var(--z-color-disabled-bg);
      cursor: not-allowed;
    }

    &:focus-visible {
      outline: 0;
    }
  }

  .z-input-error {
    color: var(--z-color-error);
    font-size: var(--font-size-xs);
    line-height: var(--line-height-tight);
    min-height: var(--line-height-tight);
  }

  &:has(.z-input-error) {
    .z-input,
    .z-input-container {
      border-color: var(--color-red-20);
      background-color: var(--color-red-5);
    }
  }
}