.z-navigation {
  display: flex;
  flex-direction: column;
  width: 100%;

  &-item {
    padding: 2px 8px;
    border-radius: var(--radius-md);

    &:hover {
      background-color: var(--z-color-neutral-selected-bg);
    }

    &:active {
      background-color: var(--z-color-neutral);
    }

    &:focus-visible {
      text-decoration: underline;
      outline: 0;
    }

    .is-selected {
      background-color: var(--z-color-neutral-selected-bg);
    }
  }

  &-section {
    &-open {
      border-bottom: 1px solid var(--z-color-border);
    }

    .z-navigation-item {
      padding-left: 24px;
    }

    &-header {
      border-radius: var(--radius-md);
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      cursor: pointer;
      padding: 4px 8px 4px 12px;
      font-weight: var(--font-weight-semibold);

      &:focus-visible {
        text-decoration: underline;
        outline: 0;
      }

      &:hover {
        background-color: var(--z-color-neutral-selected-bg);
      }

      &:active {
        background-color: var(--z-color-neutral);
      }
    }

    &-body {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      gap: var(--space-y-1);
      background-color: var(--z-color-surface-alt);
    }
  }
}