
.z-popover {
  position: absolute;
  /* TODO fix not being hidden by modal if the popover is always open */
  z-index: var(--z-popover);

  &-body {
    background-color: var(--z-color-surface);
    border: none;
    border-radius: var(--radius-lg);
    box-shadow: var(--shadow-4);

    display: flex;
    flex-direction: column;

  }

  &-p {
    &-sm {
      padding: var(--space-y-1);
    }

    &-md {
      padding: var(--space-y-2);
    }

    &-lg {
      padding: var(--space-y-3);
    }
  }

  &-visible {
    visibility: visible;
  }

  &-hidden {
    visibility: hidden;
  }
}