.z-select-wrapper {
  .z-select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    background-color: transparent;
    cursor: pointer;
    width: 100%;

    padding-left: var(--space-y-1);
    padding-right: var(--space-y-1);

    &-custom {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      button {
        background-color: transparent;
        border: none;
        padding: 0;
      }
    }

  }

  .z-select::-ms-expand {
    display: none;
  }

  .z-input-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;

    &:has(input:not(:disabled)) {
      cursor: pointer;
    }

    &:has(input:disabled) {
      cursor: not-allowed;
    }
  }

  .z-select-arrow {
    position: absolute;
    right: var(--space-y-1);
    pointer-events: none;
    font-size: 0.8rem;
  }

  .z-select:disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }

}

.z-select-compact {
  width: fit-content;

  .z-select {
    padding-left: 2px;
    padding-right: 2px;
    width: fit-content;
  }

  .z-input-wrapper {
    flex: 0;
  }

  .z-input-container {
    min-height: 1.5rem;
    min-width: 70px;
    width: fit-content;
    padding: 4px 0 4px 4px;
  }

  .z-input {

  }
}

.z-options-box {
  list-style: none;
  margin: var(--space-y-1) 0;
  padding: 0;

  max-height: 33vh;
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box;

  li {
    padding: var(--space-y-1) var(--space-x-1);
    cursor: pointer;
    transition: background 0.2s;

    &:hover {
      color: var(--z-color-text-inverse);
      background-color: var(--z-color-accent-hover);
    }

    &.is-selected {
      color: var(--z-color-text-inverse);
      background-color: var(--z-color-accent-selected-bg);
    }

    &:focus,
    &:focus-visible {
      outline: 0;
      box-shadow: var(--z-theme-focus-shadow-inset);
    }
  }

}
