.z-side-panel {
  height: 100%;
  width: 260px;
  overflow-y: auto;
  flex-shrink: 0;

  background: var(--theme-bg);
  box-shadow: var(--shadow-2);

  transition: width 0.3s ease;
  will-change: transform;

  &.collapsed {
    width: 0;
    overflow: hidden;
  }
}