.z-tooltip {
  position: absolute;
  z-index: var(--z-tooltip);

  &-wrapper {
    display: inline-block;
    vertical-align: middle;
    line-height: 0;
  }

  &-body {
    background-color: var(--z-color-bg-alt);
    color: var(--z-color-text-inverse);

    border-radius: var(--radius-lg);
    padding: var(--space-y-1) var(--space-x-1);
    display: flex;
    flex-direction: column;

    .z-text {
      color: var(--z-color-text-inverse);
      font-size: var(--font-size-sm);
    }
  }

  &-visible {
    visibility: visible;
  }

  &-hidden {
    visibility: hidden;
  }
}