.z-top-bar {
  position: sticky;
  z-index: var(--z-sticky);
  width: 100%;
  height: 60px;
  background-color: var(--z-color-surface);
  border: none;
  border-radius: 0;
  box-shadow: var(--shadow-2);
  display: flex;
  flex-direction: row;
  align-items: center;
}