.dc {
  .nav-link {
    color: var(--z-color-text);
    text-decoration: none;
  }

  &-header {
    .z-icon-button {
      background-color: unset;
    }
  }

  &.dc-landing-page,
  {
    color: var(--color-white);

    .nav-link {
      color: var(--color-white);
    }

    .z-text {
      color: var(--color-white);
      text-decoration: none;
    }

    .z-top-bar {
      background-color: var(--zoria-blue-95);
      box-shadow: unset;
      border: none;
    }

    .z-layout-body {
      background-color: var(--zoria-blue-95);
    }
  }
}

:root[data-theme='zoria'] {
  .dc:not(.dc-landing-page) {
    .z-top-bar {
      color: var(--z-color-text-inverse);
      background-color: var(--zoria-blue-95);
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);

      .z-text {
        color: var(--z-color-text-inverse);
        text-decoration: none;
      }
    }

    .z-sidebar {
      color: var(--z-color-text-inverse);
    }

    .z-navigation {
      color: var(--z-color-text-inverse);
    }
  }


  --z-sidebar-shadow: var(--shadow-2);

  --z-navigation-focus-shadow: var(--z-theme-focus-shadow-inset);
  --z-navigation-background-hover: var(--zoria-blue-50);
  --z-navigation-background-selected: var(--zoria-blue-60);
  --z-navigation-background-active: var(--zoria-blue-60);

  --z-sidebar-backgroud: var(--zoria-blue-80);
  --z-navigation-background-section: var(--zoria-blue-80);
  --z-navigation-background-subsection: var(--zoria-blue-80);
  --z-navigation-border: none;

  --z-navigation-border-selected: 5px solid var(--zoria-blue-10)
}