:root {
  --dracula-darker-50: #cdd0e4;
  --dracula-darker-100: #b5bad6;
  --dracula-darker-200: #9ea4c8;
  --dracula-darker-300: #888fb8;
  --dracula-darker-400: #727aa8;
  --dracula-darker-500: #5f6795;
  --dracula-darker-600: #53597c;
  --dracula-darker-700: #454a64;
  --dracula-darker-800: #373a4d;
  --dracula-darker-900: #282a36;
  --dracula-darker-default: #282a36;

  --dracula-dark-50: #f7f7fb;
  --dracula-dark-100: #dfe1ed;
  --dracula-dark-200: #c7cadf;
  --dracula-dark-300: #b1b5d0;
  --dracula-dark-400: #9ba0c0;
  --dracula-dark-500: #858bb0;
  --dracula-dark-600: #71779f;
  --dracula-dark-700: #606689;
  --dracula-dark-800: #525771;
  --dracula-dark-900: #44475a;
  --dracula-dark-default: #44475a;

  --dracula-light-50: #f8f8f2;
  --dracula-light-100: #eaeada;
  --dracula-light-200: #dcdcc3;
  --dracula-light-300: #cdcdac;
  --dracula-light-400: #bdbd96;
  --dracula-light-500: #adad81;
  --dracula-light-600: #9c9c6c;
  --dracula-light-700: #85855d;
  --dracula-light-800: #6d6d4f;
  --dracula-light-900: #565641;
  --dracula-light-default: #f8f8f2;

  --dracula-blue-50: #f0f2f8;
  --dracula-blue-100: #d7dcec;
  --dracula-blue-200: #bec6df;
  --dracula-blue-300: #a6b0d1;
  --dracula-blue-400: #8f9bc3;
  --dracula-blue-500: #7886b4;
  --dracula-blue-600: #6272a4;
  --dracula-blue-700: #54628c;
  --dracula-blue-800: #485273;
  --dracula-blue-900: #3b425a;
  --dracula-blue-default: #6272a4;

  --dracula-cyan-50: #fafeff;
  --dracula-cyan-100: #d4f8ff;
  --dracula-cyan-200: #aff0fe;
  --dracula-cyan-300: #8be9fd;
  --dracula-cyan-400: #67e1fb;
  --dracula-cyan-500: #44d9f8;
  --dracula-cyan-600: #22d0f5;
  --dracula-cyan-700: #0dbfe5;
  --dracula-cyan-800: #0ca0bf;
  --dracula-cyan-900: #0c819a;
  --dracula-cyan-default: #8be9fd;

  --dracula-green-50: #e2ffe9;
  --dracula-green-100: #bcffcd;
  --dracula-green-200: #97feb1;
  --dracula-green-300: #73fc96;
  --dracula-green-400: #50fa7b;
  --dracula-green-500: #2df760;
  --dracula-green-600: #0cf346;
  --dracula-green-700: #0ccd3d;
  --dracula-green-800: #0ba833;
  --dracula-green-900: #0a8329;
  --dracula-green-default: #50fa7b;

  --dracula-orange-50: #ffefdd;
  --dracula-orange-100: #ffdcb7;
  --dracula-orange-200: #ffca92;
  --dracula-orange-300: #ffb86c;
  --dracula-orange-400: #fda648;
  --dracula-orange-500: #fb9325;
  --dracula-orange-600: #f38107;
  --dracula-orange-700: #cd6d08;
  --dracula-orange-800: #a75a08;
  --dracula-orange-900: #824707;
  --dracula-orange-default: #ffb86c;

  --dracula-pink-50: #ffeaf6;
  --dracula-pink-100: #ffc4e6;
  --dracula-pink-200: #ff9fd6;
  --dracula-pink-300: #ff79c6;
  --dracula-pink-400: #fd55b6;
  --dracula-pink-500: #fb31a5;
  --dracula-pink-600: #f80e95;
  --dracula-pink-700: #d90880;
  --dracula-pink-800: #b3086b;
  --dracula-pink-900: #8e0855;
  --dracula-pink-default: #ff79c6;

  --dracula-purple-50: #fefeff;
  --dracula-purple-100: #e9dafe;
  --dracula-purple-200: #d3b6fc;
  --dracula-purple-300: #bd93f9;
  --dracula-purple-400: #a771f6;
  --dracula-purple-500: #924ff2;
  --dracula-purple-600: #7d2eed;
  --dracula-purple-700: #6916e0;
  --dracula-purple-800: #5914bb;
  --dracula-purple-900: #491298;
  --dracula-purple-default: #bd93f9;

  --dracula-red-50: #ffecec;
  --dracula-red-100: #ffc6c6;
  --dracula-red-200: #ffa0a0;
  --dracula-red-300: #ff7b7b;
  --dracula-red-400: #ff5555;
  --dracula-red-500: #fd3131;
  --dracula-red-600: #fb0e0e;
  --dracula-red-700: #dd0606;
  --dracula-red-800: #b70707;
  --dracula-red-900: #910707;
  --dracula-red-default: #ff5555;

  --dracula-yellow-50: #fefff8;
  --dracula-yellow-100: #fafed3;
  --dracula-yellow-200: #f6fcaf;
  --dracula-yellow-300: #f1fa8c;
  --dracula-yellow-400: #ebf769;
  --dracula-yellow-500: #e5f347;
  --dracula-yellow-600: #dfef26;
  --dracula-yellow-700: #ccdd12;
  --dracula-yellow-800: #abb811;
  --dracula-yellow-900: #899410;
  --dracula-yellow-default: #f1fa8c;

  --dracula-nosferatu-50: #cdd0e4;
  --dracula-nosferatu-100: #b5bad6;
  --dracula-nosferatu-200: #9ea4c8;
  --dracula-nosferatu-300: #888fb8;
  --dracula-nosferatu-400: #727aa8;
  --dracula-nosferatu-500: #5f6795;
  --dracula-nosferatu-600: #53597c;
  --dracula-nosferatu-700: #454a64;
  --dracula-nosferatu-800: #373a4d;
  --dracula-nosferatu-900: #282a36;
  --dracula-nosferatu-default: #282a36;

  --dracula-aro-50: #f7f7fb;
  --dracula-aro-100: #dfe1ed;
  --dracula-aro-200: #c7cadf;
  --dracula-aro-300: #b1b5d0;
  --dracula-aro-400: #9ba0c0;
  --dracula-aro-500: #858bb0;
  --dracula-aro-600: #71779f;
  --dracula-aro-700: #606689;
  --dracula-aro-800: #525771;
  --dracula-aro-900: #44475a;
  --dracula-aro-default: #44475a;

  --dracula-cullen-50: #f8f8f2;
  --dracula-cullen-100: #eaeada;
  --dracula-cullen-200: #dcdcc3;
  --dracula-cullen-300: #cdcdac;
  --dracula-cullen-400: #bdbd96;
  --dracula-cullen-500: #adad81;
  --dracula-cullen-600: #9c9c6c;
  --dracula-cullen-700: #85855d;
  --dracula-cullen-800: #6d6d4f;
  --dracula-cullen-900: #565641;
  --dracula-cullen-default: #f8f8f2;

  --dracula-vonCount-50: #f0f2f8;
  --dracula-vonCount-100: #d7dcec;
  --dracula-vonCount-200: #bec6df;
  --dracula-vonCount-300: #a6b0d1;
  --dracula-vonCount-400: #8f9bc3;
  --dracula-vonCount-500: #7886b4;
  --dracula-vonCount-600: #6272a4;
  --dracula-vonCount-700: #54628c;
  --dracula-vonCount-800: #485273;
  --dracula-vonCount-900: #3b425a;
  --dracula-vonCount-default: #6272a4;

  --dracula-vanHelsing-50: #fafeff;
  --dracula-vanHelsing-100: #d4f8ff;
  --dracula-vanHelsing-200: #aff0fe;
  --dracula-vanHelsing-300: #8be9fd;
  --dracula-vanHelsing-400: #67e1fb;
  --dracula-vanHelsing-500: #44d9f8;
  --dracula-vanHelsing-600: #22d0f5;
  --dracula-vanHelsing-700: #0dbfe5;
  --dracula-vanHelsing-800: #0ca0bf;
  --dracula-vanHelsing-900: #0c819a;
  --dracula-vanHelsing-default: #8be9fd;

  --dracula-blade-50: #e2ffe9;
  --dracula-blade-100: #bcffcd;
  --dracula-blade-200: #97feb1;
  --dracula-blade-300: #73fc96;
  --dracula-blade-400: #50fa7b;
  --dracula-blade-500: #2df760;
  --dracula-blade-600: #0cf346;
  --dracula-blade-700: #0ccd3d;
  --dracula-blade-800: #0ba833;
  --dracula-blade-900: #0a8329;
  --dracula-blade-default: #50fa7b;

  --dracula-morbius-50: #ffefdd;
  --dracula-morbius-100: #ffdcb7;
  --dracula-morbius-200: #ffca92;
  --dracula-morbius-300: #ffb86c;
  --dracula-morbius-400: #fda648;
  --dracula-morbius-500: #fb9325;
  --dracula-morbius-600: #f38107;
  --dracula-morbius-700: #cd6d08;
  --dracula-morbius-800: #a75a08;
  --dracula-morbius-900: #824707;
  --dracula-morbius-default: #ffb86c;

  --dracula-buffy-50: #ffeaf6;
  --dracula-buffy-100: #ffc4e6;
  --dracula-buffy-200: #ff9fd6;
  --dracula-buffy-300: #ff79c6;
  --dracula-buffy-400: #fd55b6;
  --dracula-buffy-500: #fb31a5;
  --dracula-buffy-600: #f80e95;
  --dracula-buffy-700: #d90880;
  --dracula-buffy-800: #b3086b;
  --dracula-buffy-900: #8e0855;
  --dracula-buffy-default: #ff79c6;

  --dracula-dracula-50: #fefeff;
  --dracula-dracula-100: #e9dafe;
  --dracula-dracula-200: #d3b6fc;
  --dracula-dracula-300: #bd93f9;
  --dracula-dracula-400: #a771f6;
  --dracula-dracula-500: #924ff2;
  --dracula-dracula-600: #7d2eed;
  --dracula-dracula-700: #6916e0;
  --dracula-dracula-800: #5914bb;
  --dracula-dracula-900: #491298;
  --dracula-dracula-default: #bd93f9;

  --dracula-marcelin-50: #ffecec;
  --dracula-marcelin-100: #ffc6c6;
  --dracula-marcelin-200: #ffa0a0;
  --dracula-marcelin-300: #ff7b7b;
  --dracula-marcelin-400: #ff5555;
  --dracula-marcelin-500: #fd3131;
  --dracula-marcelin-600: #fb0e0e;
  --dracula-marcelin-700: #dd0606;
  --dracula-marcelin-800: #b70707;
  --dracula-marcelin-900: #910707;
  --dracula-marcelin-default: #ff5555;

  --dracula-lincoln-50: #fefff8;
  --dracula-lincoln-100: #fafed3;
  --dracula-lincoln-200: #f6fcaf;
  --dracula-lincoln-300: #f1fa8c;
  --dracula-lincoln-400: #ebf769;
  --dracula-lincoln-500: #e5f347;
  --dracula-lincoln-600: #dfef26;
  --dracula-lincoln-700: #ccdd12;
  --dracula-lincoln-800: #abb811;
  --dracula-lincoln-900: #899410;
  --dracula-lincoln-default: #f1fa8c;
}