.dracula-colors {
  --darker-50: #cdd0e4;
  --darker-100: #b5bad6;
  --darker-200: #9ea4c8;
  --darker-300: #888fb8;
  --darker-400: #727aa8;
  --darker-500: #5f6795;
  --darker-600: #53597c;
  --darker-700: #454a64;
  --darker-800: #373a4d;
  --darker-900: #282a36;
  --darker-default: #282a36;

  --dark-50: #f7f7fb;
  --dark-100: #dfe1ed;
  --dark-200: #c7cadf;
  --dark-300: #b1b5d0;
  --dark-400: #9ba0c0;
  --dark-500: #858bb0;
  --dark-600: #71779f;
  --dark-700: #606689;
  --dark-800: #525771;
  --dark-900: #44475a;
  --dark-default: #44475a;

  --light-50: #f8f8f2;
  --light-100: #eaeada;
  --light-200: #dcdcc3;
  --light-300: #cdcdac;
  --light-400: #bdbd96;
  --light-500: #adad81;
  --light-600: #9c9c6c;
  --light-700: #85855d;
  --light-800: #6d6d4f;
  --light-900: #565641;
  --light-default: #f8f8f2;

  --blue-50: #f0f2f8;
  --blue-100: #d7dcec;
  --blue-200: #bec6df;
  --blue-300: #a6b0d1;
  --blue-400: #8f9bc3;
  --blue-500: #7886b4;
  --blue-600: #6272a4;
  --blue-700: #54628c;
  --blue-800: #485273;
  --blue-900: #3b425a;
  --blue-default: #6272a4;

  --cyan-50: #fafeff;
  --cyan-100: #d4f8ff;
  --cyan-200: #aff0fe;
  --cyan-300: #8be9fd;
  --cyan-400: #67e1fb;
  --cyan-500: #44d9f8;
  --cyan-600: #22d0f5;
  --cyan-700: #0dbfe5;
  --cyan-800: #0ca0bf;
  --cyan-900: #0c819a;
  --cyan-default: #8be9fd;

  --green-50: #e2ffe9;
  --green-100: #bcffcd;
  --green-200: #97feb1;
  --green-300: #73fc96;
  --green-400: #50fa7b;
  --green-500: #2df760;
  --green-600: #0cf346;
  --green-700: #0ccd3d;
  --green-800: #0ba833;
  --green-900: #0a8329;
  --green-default: #50fa7b;

  --orange-50: #ffefdd;
  --orange-100: #ffdcb7;
  --orange-200: #ffca92;
  --orange-300: #ffb86c;
  --orange-400: #fda648;
  --orange-500: #fb9325;
  --orange-600: #f38107;
  --orange-700: #cd6d08;
  --orange-800: #a75a08;
  --orange-900: #824707;
  --orange-default: #ffb86c;

  --pink-50: #ffeaf6;
  --pink-100: #ffc4e6;
  --pink-200: #ff9fd6;
  --pink-300: #ff79c6;
  --pink-400: #fd55b6;
  --pink-500: #fb31a5;
  --pink-600: #f80e95;
  --pink-700: #d90880;
  --pink-800: #b3086b;
  --pink-900: #8e0855;
  --pink-default: #ff79c6;

  --purple-50: #fefeff;
  --purple-100: #e9dafe;
  --purple-200: #d3b6fc;
  --purple-300: #bd93f9;
  --purple-400: #a771f6;
  --purple-500: #924ff2;
  --purple-600: #7d2eed;
  --purple-700: #6916e0;
  --purple-800: #5914bb;
  --purple-900: #491298;
  --purple-default: #bd93f9;

  --red-50: #ffecec;
  --red-100: #ffc6c6;
  --red-200: #ffa0a0;
  --red-300: #ff7b7b;
  --red-400: #ff5555;
  --red-500: #fd3131;
  --red-600: #fb0e0e;
  --red-700: #dd0606;
  --red-800: #b70707;
  --red-900: #910707;
  --red-default: #ff5555;

  --yellow-50: #fefff8;
  --yellow-100: #fafed3;
  --yellow-200: #f6fcaf;
  --yellow-300: #f1fa8c;
  --yellow-400: #ebf769;
  --yellow-500: #e5f347;
  --yellow-600: #dfef26;
  --yellow-700: #ccdd12;
  --yellow-800: #abb811;
  --yellow-900: #899410;
  --yellow-default: #f1fa8c;

  --nosferatu-50: #cdd0e4;
  --nosferatu-100: #b5bad6;
  --nosferatu-200: #9ea4c8;
  --nosferatu-300: #888fb8;
  --nosferatu-400: #727aa8;
  --nosferatu-500: #5f6795;
  --nosferatu-600: #53597c;
  --nosferatu-700: #454a64;
  --nosferatu-800: #373a4d;
  --nosferatu-900: #282a36;
  --nosferatu-default: #282a36;

  --aro-50: #f7f7fb;
  --aro-100: #dfe1ed;
  --aro-200: #c7cadf;
  --aro-300: #b1b5d0;
  --aro-400: #9ba0c0;
  --aro-500: #858bb0;
  --aro-600: #71779f;
  --aro-700: #606689;
  --aro-800: #525771;
  --aro-900: #44475a;
  --aro-default: #44475a;

  --cullen-50: #f8f8f2;
  --cullen-100: #eaeada;
  --cullen-200: #dcdcc3;
  --cullen-300: #cdcdac;
  --cullen-400: #bdbd96;
  --cullen-500: #adad81;
  --cullen-600: #9c9c6c;
  --cullen-700: #85855d;
  --cullen-800: #6d6d4f;
  --cullen-900: #565641;
  --cullen-default: #f8f8f2;

  --vonCount-50: #f0f2f8;
  --vonCount-100: #d7dcec;
  --vonCount-200: #bec6df;
  --vonCount-300: #a6b0d1;
  --vonCount-400: #8f9bc3;
  --vonCount-500: #7886b4;
  --vonCount-600: #6272a4;
  --vonCount-700: #54628c;
  --vonCount-800: #485273;
  --vonCount-900: #3b425a;
  --vonCount-default: #6272a4;

  --vanHelsing-50: #fafeff;
  --vanHelsing-100: #d4f8ff;
  --vanHelsing-200: #aff0fe;
  --vanHelsing-300: #8be9fd;
  --vanHelsing-400: #67e1fb;
  --vanHelsing-500: #44d9f8;
  --vanHelsing-600: #22d0f5;
  --vanHelsing-700: #0dbfe5;
  --vanHelsing-800: #0ca0bf;
  --vanHelsing-900: #0c819a;
  --vanHelsing-default: #8be9fd;

  --blade-50: #e2ffe9;
  --blade-100: #bcffcd;
  --blade-200: #97feb1;
  --blade-300: #73fc96;
  --blade-400: #50fa7b;
  --blade-500: #2df760;
  --blade-600: #0cf346;
  --blade-700: #0ccd3d;
  --blade-800: #0ba833;
  --blade-900: #0a8329;
  --blade-default: #50fa7b;

  --morbius-50: #ffefdd;
  --morbius-100: #ffdcb7;
  --morbius-200: #ffca92;
  --morbius-300: #ffb86c;
  --morbius-400: #fda648;
  --morbius-500: #fb9325;
  --morbius-600: #f38107;
  --morbius-700: #cd6d08;
  --morbius-800: #a75a08;
  --morbius-900: #824707;
  --morbius-default: #ffb86c;

  --buffy-50: #ffeaf6;
  --buffy-100: #ffc4e6;
  --buffy-200: #ff9fd6;
  --buffy-300: #ff79c6;
  --buffy-400: #fd55b6;
  --buffy-500: #fb31a5;
  --buffy-600: #f80e95;
  --buffy-700: #d90880;
  --buffy-800: #b3086b;
  --buffy-900: #8e0855;
  --buffy-default: #ff79c6;

  --dracula-50: #fefeff;
  --dracula-100: #e9dafe;
  --dracula-200: #d3b6fc;
  --dracula-300: #bd93f9;
  --dracula-400: #a771f6;
  --dracula-500: #924ff2;
  --dracula-600: #7d2eed;
  --dracula-700: #6916e0;
  --dracula-800: #5914bb;
  --dracula-900: #491298;
  --dracula-default: #bd93f9;

  --marcelin-50: #ffecec;
  --marcelin-100: #ffc6c6;
  --marcelin-200: #ffa0a0;
  --marcelin-300: #ff7b7b;
  --marcelin-400: #ff5555;
  --marcelin-500: #fd3131;
  --marcelin-600: #fb0e0e;
  --marcelin-700: #dd0606;
  --marcelin-800: #b70707;
  --marcelin-900: #910707;
  --marcelin-default: #ff5555;

  --lincoln-50: #fefff8;
  --lincoln-100: #fafed3;
  --lincoln-200: #f6fcaf;
  --lincoln-300: #f1fa8c;
  --lincoln-400: #ebf769;
  --lincoln-500: #e5f347;
  --lincoln-600: #dfef26;
  --lincoln-700: #ccdd12;
  --lincoln-800: #abb811;
  --lincoln-900: #899410;
  --lincoln-default: #f1fa8c;
}